VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
GOOGLE_OAUTH_CLIENT_ID=
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
FISH_API_KEY=
FISH_REFERENCE_ID=c84373c138c04287ba30cd5f245c1513
